<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>EAT DA BURGER!</h1>
        </div>
        <div class="col-6">
            <div class="row">
                {{#each burger_data}}
                <div class="col-9 text-center">
                    <pre>{{this.id}}. {{this.burger_name}}</pre>
                </div>
            </div>
            <div class="col-3 text-center">
                <form method="POST" action="/burger/update?_method=PUT" class="button-size">
                    <input type="hidden" name="burger_id" type="text"
                    value={{this.id}}>
                    <br>
                    <button type="submit" class="btn btn-default">
                        DEVOUR IT!
                    </button>
                </form>
            </div>
            {{/unless}}
            {{/each}}
        </div>

        <div class="col-6 text-center">
            {{#each burger_data}}
                {{#if this.devoured}}
                    <input type="text" class="form-control" placeholder=
                    "{{this.id}}. {{this.burger_name}}" readonly>
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>
